# Environment variables
.env
.venv/

# DS_Store
.DS_Store

# IDE
.idea/
*.iml

# APIs
ExpenseTracker/frontend/.streamlit/secrets.toml

# Python cache
ExpenseTracker/backend/__pycache__/
ExpenseTracker/frontend/__pycache__/
*.py[cod]

# Log files
ExpenseTracker/backend/*.log
